name: Manualtrigger

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Who to greet"
        default: "World"

jobs:
    hello:
        runs-on: ubuntu-latest
        permissions: read-all|write-all

        steps:
        - name: Echo Hello
          run: echo "Hello ${{ github.event.inputs.name }}"
